<po-modal
  [p-title]="literals().modals.startTrial.title"
  [p-primary-action]="{
    label: common().save,
    action: save.bind(this),
    loading: loading(),
    disabled: loading(),
  }"
  [p-secondary-action]="{
    label: common().cancel,
    action: close.bind(this),
    disabled: loading(),
  }"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-sm-12">
      <po-select
        name="planId"
        formControlName="planId"
        [p-label]="literals().fields.plan"
        [p-options]="planOptions()"
      />
    </div>

    <div class="po-sm-12">
      <po-datepicker
        name="trialEndsAtUtc"
        formControlName="trialEndsAtUtc"
        [p-label]="literals().fields.trialEndsAtUtc"
      />
    </div>
  </form>
</po-modal>
