<div class="login-page">
  <div class="login-page__container">
    <div class="login-page__brand">
      <h1>{{ literals().productName }}</h1>
      <p>{{ literals().welcome }}</p>
    </div>

    <form class="login-page__form" [formGroup]="form" (ngSubmit)="login()">
      <po-email
        name="email"
        [p-label]="literals().loginLabel"
        [p-placeholder]="literals().loginPlaceholder"
        [p-disabled]="loadingStr()"
        [p-error-pattern]="
          emailControl.touched && emailControl.hasError('email') ? literals().invalidEmail : ''
        "
        formControlName="email"
      >
      </po-email>

      <po-password
        name="password"
        [p-label]="literals().passwordLabel"
        [p-placeholder]="literals().passwordPlaceholder"
        [p-disabled]="loadingStr()"
        formControlName="password"
      >
      </po-password>

      <div class="login-page__actions">
        <po-button
          p-kind="primary"
          [p-label]="loading() ? literals().submittingLabel : literals().submitLabel"
          [p-disabled]="submitDisabled()"
          [p-type]="submitType"
        >
        </po-button>

        <div class="login-page__remember">
          <span>{{ literals().rememberUser }}</span>

          <po-switch
            name="rememberUser"
            [p-hide-label-status]="true"
            [p-disabled]="loadingStr()"
            formControlName="rememberUser"
          >
          </po-switch>
        </div>
      </div>

      <button
        class="login-page__forgot-password"
        type="button"
        [disabled]="loading()"
        (click)="openForgotPasswordModal()"
      >
        {{ literals().forgotPassword }}
      </button>

      <po-select
        name="language"
        [p-label]="literals().language"
        [p-options]="languageOptions()"
        formControlName="language"
      >
      </po-select>
    </form>
  </div>
</div>
