<po-modal
  #modal
  [p-title]="data?.function?.name ?? ''"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  (p-close)="close()"
>
  <form [formGroup]="form" class="po-row">
    @for (input of inputs(); track input.key) {
      <div class="po-md-12">
        @if (isBoolean(input.type)) {
          <po-switch [name]="input.key" [formControlName]="input.key" [p-label]="input.label" />
        } @else if (isEntityReference(input.type)) {
          <po-select [name]="input.key" [formControlName]="input.key" [p-label]="input.label" [p-options]="options(input.key)" />
        } @else if (isDate(input.type)) {
          <po-datepicker [name]="input.key" [formControlName]="input.key" [p-label]="input.label" />
        } @else {
          <po-input [name]="input.key" [formControlName]="input.key" [p-label]="input.label" />
        }
      </div>
    }
  </form>
</po-modal>
