<po-modal
  [p-title]="literals().modals.create.title"
  [p-primary-action]="{
    label: common().save,
    action: save.bind(this),
    disabled: saving(),
  }"
  [p-secondary-action]="{
    label: common().cancel,
    action: cancel.bind(this),
  }"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-md-12">
      <po-input
        name="createClient"
        [p-label]="literals().fields.customer"
        formControlName="name"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createEmail"
        [p-label]="literals().fields.email"
        formControlName="email"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createPhone"
        [p-label]="literals().fields.phone"
        p-mask="(99) 99999-9999"
        formControlName="phone"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createPostalCode"
        [p-label]="literals().fields.postalCode"
        formControlName="postalCode"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createStreet"
        [p-label]="literals().fields.street"
        formControlName="street"
      ></po-input>
    </div>

    <div class="po-md-2">
      <po-input
        name="createNumber"
        [p-label]="literals().fields.number"
        formControlName="number"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createCity"
        [p-label]="literals().fields.city"
        formControlName="city"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createState"
        [p-label]="literals().fields.state"
        formControlName="state"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createCountry"
        [p-label]="literals().fields.country"
        formControlName="country"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createComplement"
        [p-label]="literals().fields.complement"
        formControlName="complement"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createReference"
        [p-label]="literals().fields.reference"
        formControlName="reference"
      ></po-input>
    </div>
  </form>
</po-modal>
