<po-modal
  #modal
  [p-title]="literals().title"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  [p-hide-close]="loading()"
  [p-click-out]="!loading()"
>
  <form [formGroup]="form" class="forgot-password-modal">
    <p class="forgot-password-modal__description">
      {{ literals().description }}
    </p>

    <po-email
      name="email"
      [p-label]="literals().emailLabel"
      [p-placeholder]="literals().emailPlaceholder"
      [p-disabled]="emailDisabled()"
      [p-error-pattern]="emailInvalid ? literals().invalidEmail : ''"
      [p-help]="literals().supportMessage + ' ' + supportEmail()"
      formControlName="email"
    >
    </po-email>
  </form>
</po-modal>
