<po-modal
  #modal
  [p-title]="literals().title"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  [p-hide-close]="loading()"
  [p-click-out]="!loading()"
>
  <div class="forgot-password-modal">
    <p class="forgot-password-modal__description">
      {{ literals().description }}
    </p>

    <po-email
      name="email"
      [p-label]="literals().emailLabel"
      [p-placeholder]="literals().emailPlaceholder"
      p-required="true"
      [p-disabled]="emailDisabled()"
      [p-error-pattern]="literals().invalidEmail"
      [p-help]="literals().supportMessage + ' ' + supportEmail()"
      [ngModel]="email()"
      (ngModelChange)="setEmail($event)"
      (p-blur)="markTouched()"
    >
    </po-email>
  </div>
</po-modal>
