<po-page-default [p-title]="literals().title" [p-actions]="pageActions()">
  <div class="customization">
    <aside class="customization__nav" aria-label="customization navigation">
      @for (item of navigationItems(); track item.key) {
        <button
          type="button"
          class="customization__nav-item"
          [class.customization__nav-item--active]="activeSection() === item.key"
          (click)="selectSection(item.key)"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
          <strong>{{ item.count }}</strong>
        </button>
      }
    </aside>

    <main class="customization__content">
      @if (activeSection() === 'entity') {
        <po-widget [p-title]="literals().sections.entity">
          <div class="po-row">
            <div class="po-md-5">
              <po-select
                name="entityName"
                [p-label]="literals().fields.entity"
                [p-options]="entityOptions()"
                [ngModel]="selectedEntityName()"
                (ngModelChange)="onEntityChange($event)"
              />
            </div>

            @if (selectedEntity(); as entity) {
              <div class="po-md-7">
                <div class="customization__capabilities">
                  <po-tag
                    [p-value]="literals().capabilities.fields"
                    [p-color]="entity.supportsCustomFields ? 'color-11' : 'color-07'"
                  />
                  <po-tag
                    [p-value]="literals().capabilities.statuses"
                    [p-color]="entity.supportsCustomStatuses ? 'color-11' : 'color-07'"
                  />
                  <po-tag
                    [p-value]="literals().capabilities.functions"
                    [p-color]="entity.supportsCustomFunctions ? 'color-11' : 'color-07'"
                  />
                </div>

                <div class="customization__properties">
                  <span class="customization__caption">{{
                    literals().capabilities.properties
                  }}</span>
                  @for (property of entity.properties; track property.key) {
                    <po-tag [p-value]="property.key" p-color="color-08" />
                  }
                </div>
              </div>
            }
          </div>
        </po-widget>
      }

      @if (activeSection() === 'definitions') {
        <po-widget [p-title]="literals().sections.customEntities">
          @if (showDefinitionForm()) {
          <form [formGroup]="definitionForm" class="po-row">
            <div class="po-md-3">
              <po-input
                name="definitionKey"
                formControlName="key"
                [p-label]="literals().fields.key"
              />
            </div>
            <div class="po-md-5">
              <po-input
                name="definitionName"
                formControlName="name"
                [p-label]="literals().fields.name"
              />
            </div>
            <div class="po-md-4 customization__button-column">
              <po-button
                p-kind="primary"
                [p-label]="
                  definitionForm.controls.id.value ? literals().actions.updateDefinition : common().save
                "
                [p-loading]="loading()"
                (p-click)="saveDefinition()"
              />
            </div>
          </form>
          }

          <po-table
            [p-items]="customEntities()"
            [p-columns]="definitionColumns()"
            [p-actions]="definitionActions()"
            [p-hide-columns-manager]="true"
            [p-spacing]="spacing.Small"
            [p-loading]="loading()"
          />
        </po-widget>
      }

      @if (activeSection() === 'fields') {
        <po-widget [p-title]="literals().sections.fields">
          <div class="po-row">
            <div class="po-md-4">
              <po-select
                name="fieldEntityName"
                [p-label]="literals().fields.entity"
                [p-options]="fieldScopeOptions()"
                [ngModel]="selectedFieldScope()"
                (ngModelChange)="onFieldScopeChange($event)"
              />
            </div>
          </div>

          @if (supportsFieldScope()) {
            @if (showFieldForm()) {
            <form [formGroup]="fieldForm" class="po-row">
              <div class="po-md-3">
                <po-input name="fieldKey" formControlName="key" [p-label]="literals().fields.key" />
              </div>
              <div class="po-md-3">
                <po-input
                  name="fieldName"
                  formControlName="name"
                  [p-label]="literals().fields.name"
                />
              </div>
              <div class="po-md-3">
                <po-select
                  name="fieldType"
                  formControlName="type"
                  [p-label]="literals().fields.type"
                  [p-options]="fieldTypeOptions()"
                />
              </div>
              <div class="po-md-3">
                <po-select
                  name="referenceEntityName"
                  formControlName="referenceEntityName"
                  [p-label]="literals().fields.referenceTarget"
                  [p-options]="referenceTargetOptions()"
                />
              </div>
              <div class="po-md-3">
                <po-input
                  name="fieldMask"
                  formControlName="mask"
                  [p-label]="literals().fields.mask"
                />
              </div>
              <div class="po-md-3">
                <po-input
                  name="fieldOptions"
                  formControlName="options"
                  [p-label]="literals().fields.options"
                  [p-placeholder]="literals().placeholders.options"
                />
              </div>
              <div class="po-md-2">
                <po-number
                  name="fieldDisplayOrder"
                  formControlName="displayOrder"
                  [p-label]="literals().fields.displayOrder"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="fieldRequired"
                  formControlName="isRequired"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.required"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="fieldFilterable"
                  formControlName="isFilterable"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.filterable"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="fieldVisible"
                  formControlName="isVisibleInList"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.visibleInList"
                />
              </div>
              <div class="po-md-12">
                <po-button
                  p-kind="primary"
                  [p-label]="common().save"
                  [p-loading]="loading()"
                  (p-click)="saveField()"
                />
              </div>
            </form>
            }
          } @else {
            <p class="po-text-color-neutral-light-30">
              {{ literals().messages.unsupportedFields }}
            </p>
          }

          <po-table
            [p-items]="fieldRows()"
            [p-columns]="fieldColumns()"
            [p-actions]="fieldActions()"
            [p-hide-columns-manager]="true"
            [p-spacing]="spacing.Small"
            [p-loading]="loading()"
          />
        </po-widget>
      }

      @if (activeSection() === 'statuses') {
        <po-widget [p-title]="literals().sections.statuses">
          <div class="po-row">
            <div class="po-md-4">
              <po-select
                name="statusEntityName"
                [p-label]="literals().fields.entity"
                [p-options]="statusScopeOptions()"
                [ngModel]="selectedStatusScope()"
                (ngModelChange)="onStatusScopeChange($event)"
              />
            </div>
          </div>

          @if (supportsStatusScope()) {
            @if (showStatusForm()) {
            <form [formGroup]="statusForm" class="po-row">
              <div class="po-md-3">
                <po-input
                  name="statusKey"
                  formControlName="key"
                  [p-label]="literals().fields.key"
                />
              </div>
              <div class="po-md-3">
                <po-input
                  name="statusName"
                  formControlName="name"
                  [p-label]="literals().fields.name"
                />
              </div>
              <div class="po-md-2">
                <po-input
                  name="statusColor"
                  formControlName="color"
                  [p-label]="literals().fields.color"
                />
              </div>
              <div class="po-md-2">
                <po-number
                  name="statusDisplayOrder"
                  formControlName="displayOrder"
                  [p-label]="literals().fields.displayOrder"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="statusInitial"
                  formControlName="isInitial"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.initial"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="statusFinal"
                  formControlName="isFinal"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.final"
                />
              </div>
              <div class="po-md-2">
                <po-switch
                  name="statusCanceled"
                  formControlName="isCanceled"
                  [p-hide-label-status]="true"
                  [p-label]="literals().fields.canceled"
                />
              </div>
              <div class="po-md-12">
                <po-button
                  p-kind="primary"
                  [p-label]="common().save"
                  [p-loading]="loading()"
                  (p-click)="saveStatus()"
                />
              </div>
            </form>
            }
          } @else {
            <p class="po-text-color-neutral-light-30">
              {{ literals().messages.unsupportedStatuses }}
            </p>
          }

          <po-table
            [p-items]="statuses()"
            [p-columns]="statusColumns()"
            [p-actions]="statusActions()"
            [p-hide-columns-manager]="true"
            [p-spacing]="spacing.Small"
            [p-loading]="loading()"
          />
        </po-widget>
      }

      @if (activeSection() === 'functions') {
        <po-widget [p-title]="literals().sections.functions">
          <div class="po-row">
            <div class="po-md-4">
              <po-select
                name="functionEntityName"
                [p-label]="literals().fields.entity"
                [p-options]="functionScopeOptions()"
                [ngModel]="selectedFunctionScope()"
                (ngModelChange)="onFunctionScopeChange($event)"
              />
            </div>
          </div>

          @if (supportsFunctionScope()) {
            @if (showFunctionForm()) {
            <form [formGroup]="functionForm" class="po-row">
              <div class="po-md-2">
                <po-input
                  name="functionKey"
                  formControlName="key"
                  [p-label]="literals().fields.key"
                />
              </div>
              <div class="po-md-3">
                <po-input
                  name="functionName"
                  formControlName="name"
                  [p-label]="literals().fields.name"
                />
              </div>
              <div class="po-md-2">
                <po-select
                  name="functionStepType"
                  formControlName="stepType"
                  [p-label]="literals().fields.stepType"
                  [p-options]="stepTypeOptions()"
                />
              </div>
              <div class="po-md-2">
                <po-select
                  name="functionTargetFieldKey"
                  formControlName="targetFieldKey"
                  [p-label]="literals().fields.targetField"
                  [p-options]="customFieldOptions()"
                />
              </div>
              <div class="po-md-2">
                @if (shouldSelectStatusValue()) {
                  <po-select
                    name="functionStatusValue"
                    [p-label]="literals().sections.statuses"
                    [p-options]="statusOptions()"
                    [ngModel]="functionForm.controls.valueExpression.value"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="functionForm.controls.valueExpression.setValue($event)"
                  />
                } @else {
                  <po-input
                    name="functionValueExpression"
                    formControlName="valueExpression"
                    [p-label]="literals().fields.valueExpression"
                    [p-placeholder]="literals().placeholders.valueExpression"
                  />
                }
              </div>
              <div class="po-md-1 customization__button-column">
                <po-button
                  p-kind="primary"
                  [p-label]="common().save"
                  [p-loading]="loading()"
                  (p-click)="saveFunction()"
                />
              </div>
            </form>
            }
          } @else {
            <p class="po-text-color-neutral-light-30">
              {{ literals().messages.unsupportedFunctions }}
            </p>
          }

          <po-table
            [p-items]="functionRows()"
            [p-columns]="functionColumns()"
            [p-actions]="functionActions()"
            [p-hide-columns-manager]="true"
            [p-spacing]="spacing.Small"
            [p-loading]="loading()"
          />
        </po-widget>
      }

      @if (activeSection() === 'transitions') {
        <po-widget [p-title]="literals().sections.transitions">
          <div class="po-row">
            <div class="po-md-4">
              <po-select
                name="transitionEntityName"
                [p-label]="literals().fields.entity"
                [p-options]="statusScopeOptions()"
                [ngModel]="selectedTransitionScope()"
                (ngModelChange)="onTransitionScopeChange($event)"
              />
            </div>
          </div>

          @if (supportsTransitionScope()) {
            <po-table
              [p-items]="transitionRows()"
              [p-columns]="transitionColumns()"
              [p-actions]="transitionActions()"
              [p-hide-columns-manager]="true"
              [p-spacing]="spacing.Small"
              [p-loading]="loading()"
            />
          } @else {
            <p class="po-text-color-neutral-light-30">
              {{ literals().messages.unsupportedStatuses }}
            </p>
          }
        </po-widget>
      }

      @if (activeSection() === 'records') {
        <po-widget [p-title]="literals().sections.records">
          @if (showRecordForm()) {
          <form [formGroup]="recordForm" class="po-row">
            <div class="po-md-3">
              <po-select
                name="customEntity"
                [p-label]="literals().fields.customEntity"
                [p-options]="customEntityOptions()"
                [ngModel]="selectedCustomEntityId()"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="selectCustomEntity($event)"
              />
            </div>
            <div class="po-md-2">
              <po-input name="recordKey" formControlName="key" [p-label]="literals().fields.key" />
            </div>
            <div class="po-md-3">
              <po-input
                name="recordName"
                formControlName="name"
                [p-label]="literals().fields.name"
              />
            </div>
            <div class="po-md-3">
              <po-textarea
                name="recordValues"
                formControlName="values"
                [p-label]="literals().fields.customFieldValues"
                [p-placeholder]="literals().placeholders.customFieldValues"
              />
            </div>
            <div class="po-md-1 customization__button-column">
              <po-button
                p-kind="primary"
                [p-label]="common().save"
                [p-loading]="loading()"
                (p-click)="saveRecord()"
              />
            </div>
          </form>
          }

          <po-table
            [p-items]="customEntityRecords()"
            [p-columns]="recordColumns()"
            [p-actions]="recordActions()"
            [p-hide-columns-manager]="true"
            [p-spacing]="spacing.Small"
            [p-loading]="loading()"
          />
        </po-widget>
      }

      @if (activeSection() === 'preview') {
        <po-widget [p-title]="literals().sections.preview">
          <p class="customization__hint">{{ literals().messages.previewHint }}</p>

          <div class="customization__flow">
            <section>
              <span>{{ literals().sections.entity }}</span>
              <strong>{{ selectedEntity()?.displayName || common().notInformed }}</strong>
            </section>
            <i class="an an-arrow-right"></i>
            <section>
              <span>{{ literals().sections.fields }}</span>
              <strong>{{ fields().length }}</strong>
            </section>
            <i class="an an-arrow-right"></i>
            <section>
              <span>{{ literals().sections.statuses }}</span>
              <strong>{{ statuses().length }}</strong>
            </section>
            <i class="an an-arrow-right"></i>
            <section>
              <span>{{ literals().sections.transitions }}</span>
              <strong>{{ transitions().length }}</strong>
            </section>
            <i class="an an-arrow-right"></i>
            <section>
              <span>{{ literals().sections.functions }}</span>
              <strong>{{ functions().length }}</strong>
            </section>
            <i class="an an-arrow-right"></i>
            <section>
              <span>{{ literals().sections.records }}</span>
              <strong>{{ customEntityRecords().length }}</strong>
            </section>
          </div>

          <div class="customization__preview-grid">
            <div>
              <span class="customization__caption">{{ literals().sections.customEntities }}</span>
              @for (item of customEntities(); track item.id) {
                <po-tag [p-value]="item.key" p-color="color-08" />
              } @empty {
                <span>{{ literals().messages.emptyDefinitions }}</span>
              }
            </div>
            <div>
              <span class="customization__caption">{{ literals().sections.fields }}</span>
              @for (item of fields(); track item.id) {
                <po-tag [p-value]="item.key" p-color="color-11" />
              }
            </div>
            <div>
              <span class="customization__caption">{{ literals().sections.statuses }}</span>
              @for (item of statuses(); track item.id) {
                <po-tag [p-value]="item.key" [p-color]="item.color || 'color-10'" />
              }
            </div>
            <div>
              <span class="customization__caption">{{ literals().sections.functions }}</span>
              @for (item of functions(); track item.id) {
                <po-tag [p-value]="item.key" p-color="color-12" />
              }
            </div>
          </div>
        </po-widget>
      }
    </main>
  </div>
</po-page-default>
