<po-modal
  #modal
  [p-title]="literals().modals.create.title"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  (p-close)="close()"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-md-12">
      <po-select
        name="createClient"
        [p-label]="literals().fields.customer"
        [p-options]="customers()"
        formControlName="customerId"
      ></po-select>
    </div>

    <div class="po-md-6">
      <po-multiselect
        name="createServices"
        [p-label]="literals().fields.services"
        [p-placeholder]="literals().fields.phServices"
        [p-options]="services()"
        formControlName="services"
      ></po-multiselect>
    </div>

    <div class="po-md-6">
      <app-datetime-picker
        name="createScheduledAt"
        [label]="literals().fields.scheduledAt"
        formControlName="scheduledAt"
      ></app-datetime-picker>
    </div>

    <div class="po-md-4">
      <app-postal-code
        [label]="literals().fields.postalCode"
        formControlName="postalCode"
        (addressFound)="onAddressFound($event)"
        (addressNotFound)="onAddressNotFound()"
      ></app-postal-code>
    </div>

    <div class="po-md-6">
      <po-input
        name="createStreet"
        [p-label]="literals().fields.street"
        formControlName="street"
      ></po-input>
    </div>

    <div class="po-md-2">
      <po-input
        name="createNumber"
        [p-label]="literals().fields.number"
        formControlName="number"
      ></po-input>
    </div>

    <div class="po-md-4">
      <app-state-select
        [label]="literals().fields.state"
        formControlName="state"
      ></app-state-select>
    </div>

    <div class="po-md-4">
      <app-city-select
        [label]="literals().fields.city"
        [state]="form.controls.state.value"
        formControlName="city"
      ></app-city-select>
    </div>

    <div class="po-md-4">
      <po-input
        name="createCountry"
        [p-label]="literals().fields.country"
        formControlName="country"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createComplement"
        [p-label]="literals().fields.complement"
        formControlName="complement"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createReference"
        [p-label]="literals().fields.reference"
        formControlName="reference"
      ></po-input>
    </div>
  </form>
</po-modal>
