<po-modal
  #modal
  [p-title]="literals().modals.create.title"
  [p-primary-action]="{
    label: common().save,
    action: saveCreate.bind(this),
    disabled: loading(),
  }"
  [p-secondary-action]="closeAction"
  (p-close)="closeAction.action()"
>
  <div class="po-row">
    <div class="po-md-12">
      <po-select
        name="createClient"
        [p-label]="literals().fields.customer"
        [p-options]="customers()"
        [ngModel]="createForm.customerId"
        (ngModelChange)="createForm.customerId = $event"
      ></po-select>
    </div>

    <div class="po-md-12">
      <po-multiselect
        name="createServices"
        [p-label]="literals().fields.services"
        [p-placeholder]="literals().fields.phServices"
        [p-options]="services()"
        [(ngModel)]="createForm.services"
      ></po-multiselect>
    </div>

    <div class="po-md-4">
      <po-input
        name="createPostalCode"
        [p-label]="literals().fields.postalCode"
        [(ngModel)]="createForm.postalCode"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createStreet"
        [p-label]="literals().fields.street"
        [(ngModel)]="createForm.street"
      ></po-input>
    </div>

    <div class="po-md-2">
      <po-input
        name="createNumber"
        [p-label]="literals().fields.number"
        [(ngModel)]="createForm.number"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createCity"
        [p-label]="literals().fields.city"
        [(ngModel)]="createForm.city"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createState"
        [p-label]="literals().fields.state"
        [(ngModel)]="createForm.state"
      ></po-input>
    </div>

    <div class="po-md-4">
      <po-input
        name="createCountry"
        [p-label]="literals().fields.country"
        [(ngModel)]="createForm.country"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createComplement"
        [p-label]="literals().fields.complement"
        [(ngModel)]="createForm.complement"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="createReference"
        [p-label]="literals().fields.reference"
        [(ngModel)]="createForm.reference"
      ></po-input>
    </div>
  </div>
</po-modal>
