@if (!isMobile()) {
  <po-accordion>
    <po-accordion-item [p-label]="title()">
      <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>

      <div class="flex justify-end gap-sm">
        <po-button p-kind="secondary" [p-label]="clearLabel()" (p-click)="onClear()" />
        <po-button p-kind="primary" [p-label]="filterLabel()" (p-click)="onFilter()" />
      </div>
    </po-accordion-item>
  </po-accordion>
} @else if (slide()) {
  <po-page-slide #slideFilters [p-title]="title()" p-size="auto">
    <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>

    <po-page-slide-footer>
      <po-button p-kind="secondary" [p-label]="clearLabel()" (p-click)="onClear()" />
      <po-button p-kind="primary" [p-label]="filterLabel()" (p-click)="onFilter()" />
    </po-page-slide-footer>
  </po-page-slide>
} @else {
  <po-modal
    #modalFilters
    [p-title]="title()"
    p-size="auto"
    [p-primary-action]="{ label: filterLabel(), action: onFilter.bind(this) }"
    [p-secondary-action]="{ label: clearLabel(), action: onClear.bind(this) }"
  >
    <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
  </po-modal>
}
