:host {
  display: block;
  height: 100vh;
  min-height: 0;
}

.po-wrapper {
  height: 100vh;
  min-height: 0;
}

router-outlet + * {
  display: block;
  height: calc(100vh - 56px);
  min-height: 0;
  overflow: hidden;
}
