<po-modal #modal [p-title]="data?.item ? common().edit : literals().actions.createFunction" [p-primary-action]="primaryAction()" [p-secondary-action]="secondaryAction()" (p-close)="close()">
  <form [formGroup]="form" class="po-row">
    <div class="po-md-4"><po-input name="name" formControlName="name" [p-label]="literals().fields.name" /></div>
    <div class="po-md-3"><po-select name="stepType" formControlName="stepType" [p-label]="literals().fields.stepType" [p-options]="stepTypeOptions()" /></div>
    <div class="po-md-5"><po-select name="targetFieldKey" formControlName="targetFieldKey" [p-label]="literals().fields.targetField" [p-options]="customFieldOptions()" /></div>
    <div class="po-md-12">
      @if (shouldSelectStatusValue()) {
        <po-select name="statusValue" [p-label]="literals().sections.statuses" [p-options]="statusOptions()" [ngModel]="form.controls.valueExpression.value" [ngModelOptions]="{ standalone: true }" (ngModelChange)="form.controls.valueExpression.setValue($event)" />
      } @else {
        <po-input name="valueExpression" formControlName="valueExpression" [p-label]="literals().fields.valueExpression" [p-placeholder]="literals().placeholders.valueExpression" />
      }
    </div>
    <div class="po-md-12">
      <po-multiselect
        name="allowedCustomRoleNames"
        formControlName="allowedCustomRoleNames"
        [p-label]="literals().fields.allowedRoles"
        [p-options]="roleOptions()"
      />
    </div>
  </form>
</po-modal>
