@if (!isMobile()) {
  <po-table
    [p-auto-collapse]="true"
    [p-actions]="actions()"
    [p-columns]="columns()"
    [p-hide-columns-manager]="true"
    [p-hide-table-search]="true"
    [p-items]="items()"
    [p-loading]="loading()"
    [p-sort]="true"
    [p-striped]="true"
    [p-spacing]="spacing.Large"
  />
} @else {
  @for (item of items(); track item.id) {
    <div class="mb-md">
      <po-widget>
        <div class="order-list-view__content po-row">
          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.code"
              [p-value]="item.code || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.customer"
              [p-value]="item.customerName || common().notInformed"
            />
          </div>

          <div class="po-sm-12">
            <po-info
              [p-label]="literals().columns.technician"
              [p-value]="item.technicianName || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.city"
              [p-value]="item.city || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.state"
              [p-value]="item.state || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <div class="order-list-view__tag-field">
              <div class="order-list-view__tag-label">
                {{ literals().columns.status }}
              </div>

              @if (getStatusTag(item.status); as statusTag) {
                <po-tag
                  [p-value]="statusTag.label"
                  [p-color]="statusTag.color!"
                  [p-icon]="statusTag.icon!"
                />
              }
            </div>
          </div>

          <div class="po-sm-6">
            <div class="order-list-view__tag-field">
              <div class="order-list-view__tag-label">
                {{ literals().columns.result }}
              </div>

              @if (getExecutionResultTag(item.executionResult); as resultTag) {
                <po-tag
                  [p-value]="resultTag.label"
                  [p-color]="resultTag.color!"
                  [p-icon]="resultTag.icon!"
                />
              }
            </div>
          </div>

          <div class="po-sm-12">
            <div class="order-list-view__actions">
              @for (action of getVisibleActions(item); track action.label) {
                <button
                  type="button"
                  class="order-list-view__action"
                  [disabled]="loading()"
                  (click)="executeAction(action, item)"
                >
                  {{ action.label }}
                </button>
              }
            </div>
          </div>
        </div>
      </po-widget>
    </div>
  }
}
