<po-modal
  #modal
  [p-title]="literals().modals.edit.title"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  (p-close)="close()"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-md-12">
      <po-input
        name="editClient"
        [p-label]="literals().fields.customer"
        formControlName="name"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="editEmail"
        [p-label]="literals().fields.email"
        formControlName="email"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="editPhone"
        [p-label]="literals().fields.phone"
        p-mask="(99) 99999-9999"
        formControlName="phone"
      ></po-input>
    </div>

    <div class="po-md-4">
      <app-postal-code
        [label]="literals().fields.postalCode"
        formControlName="postalCode"
        (addressFound)="onAddressFound($event)"
        (addressNotFound)="onAddressNotFound()"
      ></app-postal-code>
    </div>

    <div class="po-md-6">
      <po-input
        name="editStreet"
        [p-label]="literals().fields.street"
        formControlName="street"
      ></po-input>
    </div>

    <div class="po-md-2">
      <po-input
        name="editNumber"
        [p-label]="literals().fields.number"
        formControlName="number"
      ></po-input>
    </div>

    <div class="po-md-4">
      <app-state-select
        [label]="literals().fields.state"
        formControlName="state"
      ></app-state-select>
    </div>

    <div class="po-md-4">
      <app-city-select
        [label]="literals().fields.city"
        [state]="form.controls.state.value"
        formControlName="city"
      ></app-city-select>
    </div>

    <div class="po-md-4">
      <po-input
        name="editCountry"
        [p-label]="literals().fields.country"
        formControlName="country"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="editComplement"
        [p-label]="literals().fields.complement"
        formControlName="complement"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-input
        name="editReference"
        [p-label]="literals().fields.reference"
        formControlName="reference"
      ></po-input>
    </div>
  </form>
</po-modal>
