@if (!isMobile()) {
  <po-table
    [p-auto-collapse]="true"
    [p-actions]="actions()"
    [p-columns]="columns()"
    [p-hide-columns-manager]="true"
    [p-hide-table-search]="true"
    [p-items]="items()"
    [p-loading]="loading()"
    [p-sort]="true"
    [p-striped]="true"
    [p-spacing]="spacing.Large"
  />
} @else {
  @for (item of items(); track item.id) {
    <div class="mb-md">
      <po-widget>
        <div class="user-list-view__content po-row">
          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.firstName"
              [p-value]="item.firstName || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.lastName"
              [p-value]="item.lastName || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <po-info
              [p-label]="literals().columns.email"
              [p-value]="item.email || common().notInformed"
            />
          </div>

          <div class="po-sm-6">
            <div class="user-list-view__tag-field">
              <div class="user-list-view__tag-label">
                {{ literals().columns.role }}
              </div>

              @if (getRoleTag(item.role); as roleTag) {
                <po-tag
                  [p-value]="roleTag.label"
                  [p-color]="roleTag.color!"
                  [p-icon]="roleTag.icon!"
                />
              }
            </div>
          </div>

          <div class="po-sm-6">
            <div class="user-list-view__tag-field">
              <div class="user-list-view__tag-label">
                {{ literals().columns.isActive }}
              </div>

              @if (getBooleanTag(item.isActive); as activeTag) {
                <po-tag
                  [p-value]="activeTag.label"
                  [p-color]="activeTag.color!"
                  [p-icon]="activeTag.icon!"
                />
              }
            </div>
          </div>

          <div class="po-sm-6">
            <div class="user-list-view__tag-field">
              <div class="user-list-view__tag-label">
                {{ literals().columns.emailConfirmed }}
              </div>

              @if (getBooleanTag(item.emailConfirmed); as emailConfirmedTag) {
                <po-tag
                  [p-value]="emailConfirmedTag.label"
                  [p-color]="emailConfirmedTag.color!"
                  [p-icon]="emailConfirmedTag.icon!"
                />
              }
            </div>
          </div>

          <div class="po-sm-12">
            <div class="user-list-view__actions">
              @for (action of getVisibleActions(item); track action.label) {
                <button
                  type="button"
                  class="user-list-view__action"
                  [disabled]="loading()"
                  (click)="executeAction(action, item)"
                >
                  {{ action.label }}
                </button>
              }
            </div>
          </div>
        </div>
      </po-widget>
    </div>
  }
}
