<po-modal
  #modal
  [p-title]="data?.item ? literals().actions.updateDefinition : literals().actions.createDefinition"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  (p-close)="close()"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-md-12">
      <po-input name="name" formControlName="name" [p-label]="literals().fields.name" />
    </div>
    <div class="po-md-12">
      <po-multiselect
        name="allowedCustomRoleNames"
        formControlName="allowedCustomRoleNames"
        [p-label]="literals().fields.allowedRoles"
        [p-options]="roleOptions()"
      />
    </div>
  </form>
</po-modal>
