<po-modal
  [p-title]="literals().modals.create.title"
  [p-primary-action]="saveCreateAction()"
  [p-secondary-action]="cancelCreateAction()"
>
  <form [formGroup]="form">
    <div class="po-row">
      <div class="po-md-6">
        <po-input
          name="createFirstName"
          [p-label]="literals().fields.firstName"
          formControlName="firstName"
        >
        </po-input>
      </div>

      <div class="po-md-6">
        <po-input
          name="createLastName"
          [p-label]="literals().fields.lastName"
          formControlName="lastName"
        >
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-12">
        <po-input name="createEmail" [p-label]="literals().fields.email" formControlName="email">
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-12">
        <po-password
          name="createPassword"
          [p-label]="literals().fields.password"
          formControlName="password"
        >
        </po-password>
      </div>
    </div>
  </form>
</po-modal>
