<ng-template #filtersForm>
  <form [formGroup]="form" class="po-row">
    <div class="po-sm-12 po-md-6 po-lg-3">
      <po-input name="name" formControlName="name" [p-label]="literals().fields.name" />
    </div>

    <div class="po-sm-12 po-md-6 po-lg-3">
      <po-input name="slug" formControlName="slug" [p-label]="literals().fields.slug" />
    </div>

    <div class="po-sm-12 po-md-6 po-lg-3">
      <po-select
        name="status"
        formControlName="status"
        [p-label]="literals().fields.status"
        [p-options]="statusOptions()"
      />
    </div>

    <div class="po-sm-12 po-md-6 po-lg-3">
      <po-input
        name="currentPlanId"
        formControlName="currentPlanId"
        [p-label]="literals().fields.currentPlanId"
      />
    </div>
  </form>
</ng-template>

<app-filter-container
  [title]="literals().title"
  [slide]="false"
  [clearLabel]="common().clear"
  [filterLabel]="common().filter"
  [contentTemplate]="filtersForm"
  (clear)="clearFilters()"
  (filter)="filter()"
/>
