<div class="po-row">
  <div class="po-md-12">
    <app-page-header [title]="literals().title" />
  </div>
  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-input name="email" [p-label]="literals().email" [ngModel]="email" p-disabled="true">
      </po-input>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="po-row">
      <div class="po-md-6 po-lg-4">
        <po-password
          name="newPassword"
          [p-label]="literals().newPassword"
          formControlName="newPassword"
        >
        </po-password>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6 po-lg-4">
        <po-password
          name="confirmPassword"
          [p-label]="literals().confirmPassword"
          formControlName="confirmPassword"
        >
        </po-password>
      </div>
    </div>

    <div class="po-row po-mt-2">
      <div class="po-md-6 po-lg-4">
        <po-button
          [p-label]="literals().button"
          p-kind="primary"
          [p-loading]="loading()"
          [p-disabled]="loading()"
          (p-click)="save()"
        >
        </po-button>
      </div>
    </div>
  </form>
</div>
