<po-page-default [p-title]="literals().title" [p-actions]="pageActions()">
  <div class="flex flex-col h-95">
    <div class="mb-sm">
      <app-filter-service (filterChange)="onFilterChange($event)" />
    </div>

    <app-service-list-view
      [items]="items()"
      [loading]="loading()"
      [columns]="columns()"
      [actions]="tableActions()"
    />

    <div class="mt-auto">
      <app-pagination
        [page]="page()"
        [pageSize]="pageSize()"
        [totalItems]="totalItems()"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
</po-page-default>
