<po-page-default [p-title]="literals().title" [p-actions]="pageActions()">
  <div class="po-row">
    <div class="po-md-12">
      <app-filter-service (filterChange)="onFilterChange($event)" />
    </div>

    <div class="po-md-12">
      <app-service-list-view
        [items]="items()"
        [loading]="loading()"
        [columns]="columns()"
        [actions]="tableActions()"
      />
    </div>

    <div class="po-md-12">
      <app-pagination
        [page]="page()"
        [pageSize]="pageSize()"
        [totalItems]="totalItems()"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</po-page-default>
