<po-modal
  #modal
  [p-title]="data?.item ? common().edit : literals().actions.createField"
  [p-primary-action]="primaryAction()"
  [p-secondary-action]="secondaryAction()"
  (p-close)="close()"
>
  <form [formGroup]="form" class="po-row">
    <div class="po-md-4">
      <po-input name="name" formControlName="name" [p-label]="literals().fields.name" />
    </div>
    <div class="po-md-4">
      <po-select
        name="type"
        formControlName="type"
        [p-label]="literals().fields.type"
        [p-options]="fieldTypeOptions()"
      />
    </div>
    <div class="po-md-4">
      <po-input name="mask" formControlName="mask" [p-label]="literals().fields.mask" />
    </div>
    <div class="po-md-4">
      <po-select
        name="reference"
        formControlName="referenceEntityName"
        [p-label]="literals().fields.referenceTarget"
        [p-options]="referenceTargetOptions()"
      />
    </div>
    <div class="po-md-4">
      <po-number
        name="order"
        formControlName="displayOrder"
        [p-label]="literals().fields.displayOrder"
      />
    </div>
    <div class="po-md-4">
      <po-switch
        name="required"
        formControlName="isRequired"
        [p-label]="literals().fields.required"
        [p-hide-label-status]="true"
      />
    </div>
    <div class="po-md-4">
      <po-switch
        name="filterable"
        formControlName="isFilterable"
        [p-label]="literals().fields.filterable"
        [p-hide-label-status]="true"
      />
    </div>
    <div class="po-md-4">
      <po-switch
        name="visible"
        formControlName="isVisibleInList"
        [p-label]="literals().fields.visibleInList"
        [p-hide-label-status]="true"
      />
    </div>
    <div class="po-md-4">
      <po-switch
        name="editable"
        formControlName="isEditableInForm"
        [p-label]="literals().fields.editableInForm"
        [p-hide-label-status]="true"
      />
    </div>
    @if (isSelectType()) {
      <div class="po-md-10">
        <po-input
          name="newOption"
          formControlName="newOption"
          [p-label]="literals().fields.newOption"
        />
      </div>
      <div class="po-md-2 po-mt-4">
        <po-button
          p-kind="secondary"
          [p-label]="literals().actions.addOption"
          (p-click)="addOption()"
        />
      </div>
      <div class="po-md-12 po-mt-3">
        @for (option of options(); track option) {
          <div class="po-row po-mb-1">
            <div class="po-md-11">
              <po-tag [p-value]="option" p-color="color-08" />
            </div>
            <div class="po-md-1">
              <po-button p-kind="tertiary" p-icon="an an-trash" (p-click)="removeOption(option)" />
            </div>
          </div>
        } @empty {
          <span class="po-text-color-neutral-light-30">{{ literals().messages.emptyOptions }}</span>
        }
      </div>
    }
  </form>
</po-modal>
