<po-page-default p-title="Alterar Senha">
  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password name="currentPassword" p-label="Senha atual" [(ngModel)]="form.currentPassword">
      </po-password>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password name="newPassword" p-label="Nova senha" [(ngModel)]="form.newPassword">
      </po-password>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password
        name="confirmPassword"
        p-label="Confirmar nova senha"
        [(ngModel)]="form.confirmPassword"
      >
      </po-password>
    </div>
  </div>

  <div class="po-row po-mt-2">
    <div class="po-md-6 po-lg-4">
      <po-button
        p-label="Salvar"
        p-kind="primary"
        [p-loading]="loading()"
        [p-disabled]="loading()"
        (p-click)="save()"
      >
      </po-button>
    </div>
  </div>
</po-page-default>
