<app-page [p-title]="literals().title">
  <form [formGroup]="form">
    <div class="po-row">
      <div class="po-md-6 po-lg-4">
        <po-password
          name="currentPassword"
          [p-label]="literals().currentPassword"
          formControlName="currentPassword"
        >
        </po-password>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6 po-lg-4">
        <po-password
          name="newPassword"
          [p-label]="literals().newPassword"
          formControlName="newPassword"
        >
        </po-password>
      </div>
    </div>

    <div class="po-row">
      <div class="po-md-6 po-lg-4">
        <po-password
          name="confirmPassword"
          [p-label]="literals().confirmPassword"
          formControlName="confirmPassword"
        >
        </po-password>
      </div>
    </div>

    <div class="po-row po-mt-2">
      <div class="po-md-6 po-lg-4">
        <po-button
          [p-label]="common().save"
          p-kind="primary"
          [p-loading]="loading()"
          [p-disabled]="loading()"
          (p-click)="save()"
        >
        </po-button>
      </div>
    </div>
  </form>
</app-page>
