<po-page-default [p-title]="literals().title">
  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password
        name="currentPassword"
        [p-label]="literals().currentPassword"
        [(ngModel)]="form.currentPassword"
      >
      </po-password>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password
        name="newPassword"
        [p-label]="literals().newPassword"
        [(ngModel)]="form.newPassword"
      >
      </po-password>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-6 po-lg-4">
      <po-password
        name="confirmPassword"
        [p-label]="literals().confirmPassword"
        [(ngModel)]="form.confirmPassword"
      >
      </po-password>
    </div>
  </div>

  <div class="po-row po-mt-2">
    <div class="po-md-6 po-lg-4">
      <po-button
        [p-label]="common().save"
        p-kind="primary"
        [p-loading]="loading()"
        [p-disabled]="loading()"
        (p-click)="save()"
      >
      </po-button>
    </div>
  </div>
</po-page-default>
