<po-page-default [p-title]="title()" [p-actions]="pageActions()">
  <app-custom-fields-filter
    [title]="common().filters"
    [fields]="fields()"
    (filterChange)="onFilterChange($event)"
  />

  <app-custom-record-list-view
    [items]="items()"
    [columns]="columns()"
    [actions]="tableActions()"
    [fields]="fields()"
    [loading]="loading()"
  />

  <app-pagination
    [page]="page()"
    [pageSize]="pageSize()"
    [totalItems]="totalItems()"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  />
</po-page-default>
